<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap-icons.css') }}" />
        <!-- Child-specific CSS -->
        {% block extrastyle %} {% endblock %}
        <!-- Title (override) -->
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <!-- GASS-PPI Brand -->
                <a class="navbar-brand" href="{{ url_for('index') }}">GASS-PPI</a>
                <!-- Toggle Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#gassPpiMenuList" aria-controls="gassPpiMenuList" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Menu List -->
                <div class="collapse navbar-collapse" id="gassPpiMenuList">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('ppi_search') }}">
                                <i class="bi bi-search"></i> Protein-protein Interface Search
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav d-flex">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('help') }}">
                                <i class="bi bi-info-circle-fill"></i> Help
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('contact') }}">
                                <i class="bi bi-envelope-fill"></i> Contact
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('acknowledgements') }}">
                                <i class="bi bi-hand-thumbs-up-fill"></i> Acknowledgements
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header + Content (override) -->
        <div class="container">
            <div class="card text-center text-white bg-dark my-4">
                <div class="card-body">
                    {% block header %} {% endblock %}
                </div>
            </div>
            <div>
                {% block content %} {% endblock %}
            </div>
        </div>
        <!-- Footer -->
        <footer>
            <div class="container">
                <hr />
                <div class="row">
                    <div class="col-8">
                        <a class="mx-2" href="https://www.unimelb.edu.au" target="_blank">
                            <img src="{{ url_for('static', filename='img/unimelb.jpeg') }}" alt="University of Melbourne" width="200" />
                        </a>
                        <a class="mx-2" href="https://www.unifei.edu.br" target="_blank">
                            <img src="{{ url_for('static', filename='img/unifei.jpeg') }}" alt="UNIFEI" width="200" />
                        </a>
                    </div>
                    <div class="col-4">
                        <div class="d-flex flex-column align-items-end">
                            <a href="https://opendefinition.org/okd" target="_blank">
                                <img src="{{ url_for('static', filename='img/open-knowledge.png') }}" alt="This material is Open Knowledge" />
                            </a>
                            <p>
                                <small>
                                    Best viewed using <a href="https://www.google.com/chrome">Chrome</a> on 1280x1024 resolution and above
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap JS -->
        <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
        <!-- Child-specific JS -->
        {% block extrascript %} {% endblock %}
    </body>
</html>
